USE [DBHamburguesasElEstablo]
GO
/****** Object:  Table [dbo].[CategoriasDeProductos]    Script Date: 27/6/2020 19:09:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriasDeProductos](
	[idCategoriaProducto] [int] IDENTITY(120,1) NOT NULL,
	[nombreCategoria] [varchar](max) NOT NULL,
	[descripcion] [varchar](max) NULL,
	[fechaDeCreacion] [datetime] NULL,
	[usuarioQueLacreo] [varchar](max) NULL,
	[fechaDeUltimoUpdate] [datetime] NULL,
	[usuarioQueRealizoElUltimoUpdate] [varchar](max) NULL,
 CONSTRAINT [PK_ClasificaionesDeProductos] PRIMARY KEY CLUSTERED 
(
	[idCategoriaProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductosVendidos]    Script Date: 27/6/2020 19:09:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductosVendidos](
	[idProductoVendido] [int] IDENTITY(3000,1) NOT NULL,
	[idVenta] [int] NOT NULL,
	[idProducto] [int] NOT NULL,
	[cantidadDeUnidadesVendidas] [int] NOT NULL,
	[precioUnitarioVenta] [money] NOT NULL,
	[descuento] [float] NULL,
	[fechaDeCreacion] [datetime] NULL,
	[usuarioQueLacreo] [varchar](max) NULL,
	[fechaDeUltimoUpdate] [datetime] NULL,
	[usuarioQueRealizoElUltimoUpdate] [varchar](max) NULL,
 CONSTRAINT [PK_ProductosVendidos_1] PRIMARY KEY CLUSTERED 
(
	[idProductoVendido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 27/6/2020 19:09:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[idProducto] [int] IDENTITY(800,1) NOT NULL,
	[nombreProducto] [varchar](max) NOT NULL,
	[descripcion] [varchar](max) NULL,
	[idCategoriaDelProducto] [int] NOT NULL,
	[precioUnitarioSugerido] [money] NOT NULL,
	[disponibleDesde] [date] NULL,
	[disponibleHasta] [date] NULL,
	[disponible] [smallint] NULL,
	[calorias] [int] NULL,
	[fechaDeCreacion] [datetime] NULL,
	[usuarioQueLacreo] [varchar](max) NULL,
	[fechaDeUltimoUpdate] [datetime] NULL,
	[usuarioQueRealizoElUltimoUpdate] [varchar](max) NULL,
 CONSTRAINT [PK_Productos] PRIMARY KEY CLUSTERED 
(
	[idProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[ProductoEstrella]    Script Date: 27/6/2020 19:09:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ProductoEstrella] AS
SELECT
	P.nombreProducto as Producto,
	CP.nombreCategoria as Categoria,
	P.precioUnitarioSugerido as Precio,
	P.disponible as Disponible,
	SUM(precioUnitarioVenta*cantidadDeUnidadesVendidas * (1-descuento)) as [DineroIngresadoPorVentas]
FROM	
	Productos as P JOIN CategoriasDeProductos as CP
	ON P.idCategoriaDelProducto = CP.idCategoriaProducto

	JOIN ProductosVendidos as PV
	ON PV.idProducto = P.idProducto
GROUP BY
	P.nombreProducto, 
	CP.nombreCategoria,
	P.precioUnitarioSugerido,
	P.disponible
HAVING
	SUM(precioUnitarioVenta*cantidadDeUnidadesVendidas * (1-descuento)) = (
																			SELECT TOP 1 SUM(precioUnitarioVenta*cantidadDeUnidadesVendidas * (1-descuento)) as dineroIngresado
																			FROM
																				ProductosVendidos
																			GROUP BY idProducto
																			ORDER BY dineroIngresado DESC
																			)
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 27/6/2020 19:09:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[idCliente] [int] IDENTITY(2002,2) NOT NULL,
	[nombres] [varchar](max) NOT NULL,
	[apellidos] [varchar](max) NOT NULL,
	[documentoDeIdentidad] [varchar](max) NOT NULL,
	[numeroDeClienteFrecuente] [int] NULL,
	[fechaDeCreacion] [datetime] NULL,
	[usuarioQueLacreo] [varchar](max) NULL,
	[fechaDeUltimoUpdate] [datetime] NULL,
	[usuarioQueRealizoElUltimoUpdate] [varchar](max) NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[idCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 27/6/2020 19:09:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[idVenta] [int] IDENTITY(900,1) NOT NULL,
	[numeroDeFacturaDIAN] [varchar](max) NOT NULL,
	[fechaYHoraVenta] [datetime] NOT NULL,
	[idEmpleado] [int] NOT NULL,
	[idRestaurante] [int] NOT NULL,
	[idCliente] [int] NOT NULL,
	[propina] [money] NULL,
	[fechaDeCreacion] [datetime] NULL,
	[usuarioQueLacreo] [varchar](max) NULL,
	[fechaDeUltimoUpdate] [datetime] NULL,
	[usuarioQueRealizoElUltimoUpdate] [varchar](max) NULL,
 CONSTRAINT [PK_Ventas] PRIMARY KEY CLUSTERED 
(
	[idVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[ClienteEstrella]    Script Date: 27/6/2020 19:09:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ClienteEstrella] AS
SELECT
	/*V.idCliente,*/
	Cl.nombres,
	Cl.apellidos,
	Cl.documentoDeIdentidad,
	Cl.numeroDeClienteFrecuente,
	SUM(precioUnitarioVenta*cantidadDeUnidadesVendidas * (1-descuento)) as DineroInvertido
FROM
	Ventas as V JOIN Clientes as Cl
	ON V.idCliente = Cl.idCliente

	JOIN ProductosVendidos as PV
	ON V.idVenta = PV.idVenta
GROUP BY
	/*V.idCliente,*/
	Cl.nombres,
	Cl.apellidos,
	Cl.documentoDeIdentidad,
	Cl.numeroDeClienteFrecuente
HAVING
	SUM(precioUnitarioVenta*cantidadDeUnidadesVendidas * (1-descuento)) = (
																			SELECT TOP 1 SUM(precioUnitarioVenta*cantidadDeUnidadesVendidas * (1-descuento))
																			FROM
																				Ventas as V JOIN ProductosVendidos as PV
																				ON V.idVenta = PV.idVenta
																			GROUP BY
																				V.idCliente
																			)
GO
/****** Object:  View [dbo].[ProductosNoDisponibles]    Script Date: 27/6/2020 19:09:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ProductosNoDisponibles] AS
SELECT
	P.nombreProducto,
	P.descripcion,
	CP.nombreCategoria,
	P.precioUnitarioSugerido,
	P.calorias
FROM
	Productos as P JOIN CategoriasDeProductos as CP
	ON P.idCategoriaDelProducto = CP.idCategoriaProducto
WHERE
	disponible = 0
GO
/****** Object:  Table [dbo].[Departamentos]    Script Date: 27/6/2020 19:09:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamentos](
	[idDepartamento] [int] IDENTITY(400,1) NOT NULL,
	[nombre] [varchar](max) NOT NULL,
	[descripcion] [varchar](max) NULL,
	[fechaDeCreacion] [datetime] NULL,
	[usuarioQueLacreo] [varchar](max) NULL,
	[fechaDeUltimoUpdate] [datetime] NULL,
	[usuarioQueRealizoElUltimoUpdate] [varchar](max) NULL,
 CONSTRAINT [PK_Departamentos] PRIMARY KEY CLUSTERED 
(
	[idDepartamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Municipios]    Script Date: 27/6/2020 19:09:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Municipios](
	[idMunicipio] [int] IDENTITY(300,1) NOT NULL,
	[nombre] [varchar](max) NOT NULL,
	[descripcion] [varchar](max) NULL,
	[idDepartamento] [int] NOT NULL,
	[fechaDeCreacion] [datetime] NULL,
	[usuarioQueLacreo] [varchar](max) NULL,
	[fechaDeUltimoUpdate] [datetime] NULL,
	[usuarioQueRealizoElUltimoUpdate] [varchar](max) NULL,
 CONSTRAINT [PK_Municipios] PRIMARY KEY CLUSTERED 
(
	[idMunicipio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Restaurantes]    Script Date: 27/6/2020 19:09:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Restaurantes](
	[idRestaurante] [int] IDENTITY(1,1) NOT NULL,
	[nombreRestaurante] [varchar](max) NOT NULL,
	[direccion] [varchar](max) NULL,
	[fechaInicioActividades] [date] NULL,
	[idMunicipio] [int] NOT NULL,
	[fechaDeCreacion] [datetime] NULL,
	[usuarioQueLacreo] [varchar](max) NULL,
	[fechaDeUltimoUpdate] [datetime] NULL,
	[usuarioQueRealizoElUltimoUpdate] [varchar](max) NULL,
 CONSTRAINT [PK_Restaurantes] PRIMARY KEY CLUSTERED 
(
	[idRestaurante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[DatosDeRestaurantes]    Script Date: 27/6/2020 19:09:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[DatosDeRestaurantes] AS
SELECT DISTINCT 
	R.nombreRestaurante,
	R.direccion,
	M.nombre as Ciudad,
	D.nombre as Departamento,
	R.fechaInicioActividades,
	COUNT(DISTINCT idEmpleado) as NumeroEmpleados
FROM
	Restaurantes as R JOIN Ventas as V
	ON R.idRestaurante = V.idRestaurante

	JOIN Municipios as M
	ON R.idMunicipio = M.idMunicipio

	JOIN Departamentos as D
	ON M.idDepartamento = D.idDepartamento
GROUP BY
	R.nombreRestaurante,
	R.direccion,
	M.nombre,
	D.nombre,
	R.fechaInicioActividades
GO
/****** Object:  Table [dbo].[TelefonosDeLosRestaurantes]    Script Date: 27/6/2020 19:09:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TelefonosDeLosRestaurantes](
	[idTelefonoRestaurante] [int] IDENTITY(150,1) NOT NULL,
	[idTipoTelefono] [int] NOT NULL,
	[idEmpresaOperadoraDeTelefonia] [int] NOT NULL,
	[idRestaurante] [int] NOT NULL,
	[numero] [varchar](12) NULL,
	[fechaDeCreacion] [datetime] NULL,
	[usuarioQueLacreo] [varchar](max) NULL,
	[fechaDeUltimoUpdate] [datetime] NULL,
	[usuarioQueRealizoElUltimoUpdate] [varchar](max) NULL,
 CONSTRAINT [PK_TelefonosDeLosRestaurantes_1] PRIMARY KEY CLUSTERED 
(
	[idTelefonoRestaurante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposDeTelefonos]    Script Date: 27/6/2020 19:09:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposDeTelefonos](
	[idTipoDeTelefono] [int] IDENTITY(500,1) NOT NULL,
	[nombreDelTipo] [varchar](max) NOT NULL,
	[descripcion] [varchar](max) NULL,
	[fechaDeCreacion] [datetime] NULL,
	[usuarioQueLacreo] [varchar](max) NULL,
	[fechaDeUltimaUpdate] [datetime] NULL,
	[usuarioQueRealizoLaUpdate] [varchar](max) NULL,
 CONSTRAINT [PK_TiposDeTelefonos] PRIMARY KEY CLUSTERED 
(
	[idTipoDeTelefono] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmpresasOperadorasDeTelefonia]    Script Date: 27/6/2020 19:09:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmpresasOperadorasDeTelefonia](
	[idEmpresaOperadoraDeTelefonia] [int] IDENTITY(600,1) NOT NULL,
	[nombreEmpresaOT] [varchar](max) NOT NULL,
	[descripcion] [varchar](max) NULL,
	[fechaDeCreacion] [datetime] NULL,
	[usuarioQueLacreo] [varchar](max) NULL,
	[fechaDeUltimoUpdate] [datetime] NULL,
	[usuarioQueRealizoElUltimoUpdate] [varchar](max) NULL,
 CONSTRAINT [PK_EmpresasOperadorasDeTelefonia] PRIMARY KEY CLUSTERED 
(
	[idEmpresaOperadoraDeTelefonia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[TelefonosDeRestaurantes]    Script Date: 27/6/2020 19:09:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[TelefonosDeRestaurantes] AS
SELECT 
	R.nombreRestaurante,
	R.direccion,
	M.nombre as Ciudad,
	TR.numero as Telefono,
	TT.nombreDelTipo as Tipo,
	EOT.nombreEmpresaOT as Operadora
FROM
	Restaurantes as R JOIN TelefonosDeLosRestaurantes as TR
	ON R.idRestaurante = TR.idRestaurante

	JOIN TiposDeTelefonos as TT
	ON TR.idTipoTelefono = TT.idTipoDeTelefono

	JOIN EmpresasOperadorasDeTelefonia as EOT
	ON TR.idEmpresaOperadoraDeTelefonia = EOT.idEmpresaOperadoraDeTelefonia

	JOIN Municipios as M
	ON R.idMunicipio = M.idMunicipio
GO
/****** Object:  Table [dbo].[TelefonosDeLosEmpleados]    Script Date: 27/6/2020 19:09:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TelefonosDeLosEmpleados](
	[idTelefonoEmpleado] [int] IDENTITY(850,1) NOT NULL,
	[idEmpleado] [int] NULL,
	[idTipoTelefono] [int] NULL,
	[idEmpresaOperadoraDeTelefonia] [int] NULL,
	[numero] [varchar](12) NULL,
	[fechaDeCreacion] [datetime] NULL,
	[usuarioQueLacreo] [varchar](max) NULL,
	[fechaDeUltimoUpdate] [datetime] NULL,
	[usuarioQueRealizoElUltimoUpdate] [varchar](max) NULL,
 CONSTRAINT [PK_TelefonosDeLosEmpleados] PRIMARY KEY CLUSTERED 
(
	[idTelefonoEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 27/6/2020 19:09:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[idEmpleado] [int] IDENTITY(700,1) NOT NULL,
	[primerNombre] [varchar](max) NOT NULL,
	[segundoNombre] [varchar](max) NULL,
	[primerApellido] [varchar](max) NOT NULL,
	[segundoApellido] [varchar](max) NULL,
	[fechaDeNacimiento] [date] NULL,
	[idMunicipio] [int] NOT NULL,
	[fechaVinculacion] [date] NULL,
	[fechaRetiro] [date] NULL,
	[contratoVigente] [smallint] NULL,
	[documentoIdentidad] [varchar](12) NULL,
	[direccionResidencia] [varchar](max) NULL,
	[Salario] [money] NULL,
	[fechaDeCreacion] [datetime] NULL,
	[usuarioQueLacreo] [varchar](max) NULL,
	[fechaDeUltimoUpdate] [datetime] NULL,
	[usuarioQueRealizoElUltimoUpdate] [varchar](max) NULL,
 CONSTRAINT [PK_Empleados] PRIMARY KEY CLUSTERED 
(
	[idEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[TelefonosDeEmpleados]    Script Date: 27/6/2020 19:09:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[TelefonosDeEmpleados] AS
SELECT DISTINCT
	E.primerNombre +' '+E.segundoNombre as Nombres,
	E.primerApellido+' '+E.segundoApellido as Apellidos,
	E.documentoIdentidad,
	M.nombre as CiudadDeResidencia,
	R.nombreRestaurante as restauranteDondeTrabaja,
	TE.numero as Telefono,
	TT.nombreDelTipo as Tipo,
	EOT.nombreEmpresaOT as Operadora
FROM
	Empleados as E JOIN Ventas as V
	ON E.idEmpleado = V.idEmpleado

	JOIN Restaurantes as R
	ON V.idRestaurante = R.idRestaurante

	JOIN TelefonosDeLosEmpleados as TE
	ON E.idEmpleado = TE.idEmpleado

	JOIN TiposDeTelefonos as TT
	ON TE.idTipoTelefono = TT.idTipoDeTelefono

	JOIN EmpresasOperadorasDeTelefonia as EOT
	ON TE.idEmpresaOperadoraDeTelefonia = EOT.idEmpresaOperadoraDeTelefonia

	JOIN Municipios as M
	ON E.idMunicipio = M.idMunicipio
GO
/****** Object:  Table [dbo].[ElementosDelInventario]    Script Date: 27/6/2020 19:09:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ElementosDelInventario](
	[idElementoDelInventario] [int] IDENTITY(250,1) NOT NULL,
	[nombre] [varchar](max) NOT NULL,
	[unidadDeMedida] [varchar](20) NULL,
	[descripcion] [varchar](max) NULL,
	[valorDeLaUnidad] [money] NOT NULL,
	[fechaDeCreacion] [datetime] NULL,
	[usuarioQueLaCreo] [varchar](max) NULL,
	[fechaDeUltimoUpdate] [datetime] NULL,
	[usuarioQueRealizoElUpdate] [varchar](max) NULL,
 CONSTRAINT [PK_Ingredientes] PRIMARY KEY CLUSTERED 
(
	[idElementoDelInventario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmpleadosEnRestaurantes]    Script Date: 27/6/2020 19:09:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmpleadosEnRestaurantes](
	[idRestaurante] [int] NOT NULL,
	[idEmpleado] [int] NOT NULL,
	[fechaDeCreacion] [datetime] NULL,
	[usuarioQueLaCreao] [varchar](max) NULL,
	[fechaDeUltimoUpdate] [datetime] NULL,
	[usuarioQueRealizoElUpdate] [varchar](max) NULL,
 CONSTRAINT [PK_EmpleadosEnRestaurantes] PRIMARY KEY CLUSTERED 
(
	[idRestaurante] ASC,
	[idEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ingredientes]    Script Date: 27/6/2020 19:09:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingredientes](
	[idElementoDelInventario] [int] NOT NULL,
	[fechaDeCreacion] [datetime] NULL,
	[usuarioQueLaCreo] [varchar](max) NULL,
	[fechaDeUltimoUpdate] [datetime] NULL,
	[usuarioQueRealizoElUpdate] [varchar](max) NULL,
 CONSTRAINT [PK_Ingredientes_1] PRIMARY KEY CLUSTERED 
(
	[idElementoDelInventario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IngredientesDeLosProductos]    Script Date: 27/6/2020 19:09:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IngredientesDeLosProductos](
	[idElementoDelInventario] [int] NOT NULL,
	[idProducto] [int] NOT NULL,
	[cantidadRequerida] [int] NOT NULL,
	[usuarioQueLaCreao] [varchar](max) NULL,
	[fechaDeCreacion] [datetime] NULL,
	[usuarioQueRealizoElUltimoUpdate] [varchar](max) NULL,
	[fechaDeUltimoUpdate] [datetime] NULL,
 CONSTRAINT [PK_IngredientesDeLosProductos] PRIMARY KEY CLUSTERED 
(
	[idElementoDelInventario] ASC,
	[idProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovimientoDeLInventarioDeRestaurantes]    Script Date: 27/6/2020 19:09:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovimientoDeLInventarioDeRestaurantes](
	[idMovimiento] [int] IDENTITY(1050,1) NOT NULL,
	[idElementoDelInvetario] [int] NOT NULL,
	[idRestaurante] [int] NOT NULL,
	[idTipoDeMovimiento] [int] NOT NULL,
	[cantidadDeunidades] [int] NOT NULL,
	[descripcion] [varchar](max) NULL,
	[fechaMovimiento] [date] NULL,
	[fechaeDeCreacion] [datetime] NULL,
	[usuarioQueLaCreo] [varchar](max) NULL,
	[fechaDeUltimoUpdate] [datetime] NULL,
	[ususarioQueRealizoElUpdate] [varchar](max) NULL,
 CONSTRAINT [PK_MovimientoDeLInventarioDeRestaurantes] PRIMARY KEY CLUSTERED 
(
	[idMovimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductosDelMenu]    Script Date: 27/6/2020 19:09:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductosDelMenu](
	[idRestaurante] [int] NOT NULL,
	[idProducto] [int] NOT NULL,
	[ofertadoDesde] [date] NULL,
	[ofertadoHasta] [date] NULL,
	[precioVenta] [money] NOT NULL,
	[fechaDeCreacion] [datetime] NULL,
	[usuarioQueLacreo] [varchar](max) NULL,
	[fechaDeUltimoUpdate] [datetime] NULL,
	[usuarioQueRealizoElUltimoUpdate] [varchar](max) NULL,
 CONSTRAINT [PK_ProductosDelMenu] PRIMARY KEY CLUSTERED 
(
	[idRestaurante] ASC,
	[idProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposDeMovimientosDelInventario]    Script Date: 27/6/2020 19:09:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposDeMovimientosDelInventario](
	[idTipoDeMovimiento] [int] IDENTITY(950,1) NOT NULL,
	[nombreMovimiento] [varchar](20) NOT NULL,
	[descripcion] [varchar](max) NULL,
	[fechaDeCreacion] [datetime] NULL,
	[usuarioQueLaCreao] [varchar](max) NULL,
	[fechaDeUltimoUpdate] [datetime] NULL,
	[usuarioQueRealizoElUpdate] [varchar](max) NULL,
 CONSTRAINT [PK_TiposDeMovimientosDelInventario] PRIMARY KEY CLUSTERED 
(
	[idTipoDeMovimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CategoriasDeProductos] ON 

INSERT [dbo].[CategoriasDeProductos] ([idCategoriaProducto], [nombreCategoria], [descripcion], [fechaDeCreacion], [usuarioQueLacreo], [fechaDeUltimoUpdate], [usuarioQueRealizoElUltimoUpdate]) VALUES (120, N'Entradas', N'Una descripcion de ejemplo para las categorias de los productos de la BD de prueba', CAST(N'2020-05-27T23:19:00.000' AS DateTime), N'Luis Gamez', NULL, NULL)
INSERT [dbo].[CategoriasDeProductos] ([idCategoriaProducto], [nombreCategoria], [descripcion], [fechaDeCreacion], [usuarioQueLacreo], [fechaDeUltimoUpdate], [usuarioQueRealizoElUltimoUpdate]) VALUES (121, N'Platos Fuertes', N'Una descripcion de ejemplo para las categorias de los productos de la BD de prueba', CAST(N'2020-05-27T23:19:00.000' AS DateTime), N'Luis Gamez', NULL, NULL)
INSERT [dbo].[CategoriasDeProductos] ([idCategoriaProducto], [nombreCategoria], [descripcion], [fechaDeCreacion], [usuarioQueLacreo], [fechaDeUltimoUpdate], [usuarioQueRealizoElUltimoUpdate]) VALUES (122, N'Acompañamientos', N'Una descripcion de ejemplo para las categorias de los productos de la BD de prueba', CAST(N'2020-05-27T23:19:00.000' AS DateTime), N'Luis Gamez', NULL, NULL)
SET IDENTITY_INSERT [dbo].[CategoriasDeProductos] OFF
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([idCliente], [nombres], [apellidos], [documentoDeIdentidad], [numeroDeClienteFrecuente], [fechaDeCreacion], [usuarioQueLacreo], [fechaDeUltimoUpdate], [usuarioQueRealizoElUltimoUpdate]) VALUES (2002, N'Ernesto', N'Galvis', N'2323455678', 123, CAST(N'2020-05-28T15:37:00.000' AS DateTime), N'Luis Gamez', NULL, NULL)
INSERT [dbo].[Clientes] ([idCliente], [nombres], [apellidos], [documentoDeIdentidad], [numeroDeClienteFrecuente], [fechaDeCreacion], [usuarioQueLacreo], [fechaDeUltimoUpdate], [usuarioQueRealizoElUltimoUpdate]) VALUES (2004, N'Luis Eduardo', N'Gamez ', N'3435353454', 321, CAST(N'2020-05-28T15:37:00.000' AS DateTime), N'Luis Gamez', NULL, NULL)
INSERT [dbo].[Clientes] ([idCliente], [nombres], [apellidos], [documentoDeIdentidad], [numeroDeClienteFrecuente], [fechaDeCreacion], [usuarioQueLacreo], [fechaDeUltimoUpdate], [usuarioQueRealizoElUltimoUpdate]) VALUES (2006, N'Franklin', N'Herrera', N'4834583754', 847, CAST(N'2020-05-28T15:37:00.000' AS DateTime), N'Luis Gamez', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[Departamentos] ON 

INSERT [dbo].[Departamentos] ([idDepartamento], [nombre], [descripcion], [fechaDeCreacion], [usuarioQueLacreo], [fechaDeUltimoUpdate], [usuarioQueRealizoElUltimoUpdate]) VALUES (400, N'Magdalena', N'Una descripcion de pureba para un departamento en la db', CAST(N'2020-05-27T23:52:00.000' AS DateTime), N'Luis Gamez', NULL, NULL)
INSERT [dbo].[Departamentos] ([idDepartamento], [nombre], [descripcion], [fechaDeCreacion], [usuarioQueLacreo], [fechaDeUltimoUpdate], [usuarioQueRealizoElUltimoUpdate]) VALUES (401, N'Atlantico', N'Una descripcion de pureba para un departamento en la db', CAST(N'2020-05-27T23:52:00.000' AS DateTime), N'Luis Gamez', NULL, NULL)
INSERT [dbo].[Departamentos] ([idDepartamento], [nombre], [descripcion], [fechaDeCreacion], [usuarioQueLacreo], [fechaDeUltimoUpdate], [usuarioQueRealizoElUltimoUpdate]) VALUES (402, N'Antioquia', N'Una descripcion de pureba para un departamento en la db', CAST(N'2020-05-27T23:52:00.000' AS DateTime), N'Luis Gamez', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Departamentos] OFF
GO
SET IDENTITY_INSERT [dbo].[ElementosDelInventario] ON 

INSERT [dbo].[ElementosDelInventario] ([idElementoDelInventario], [nombre], [unidadDeMedida], [descripcion], [valorDeLaUnidad], [fechaDeCreacion], [usuarioQueLaCreo], [fechaDeUltimoUpdate], [usuarioQueRealizoElUpdate]) VALUES (250, N'Pan de hamburguesa ', N'(paquete 8)', N'Una descripcion de ejemplo para los ingredientes de la BD', 3.0000, CAST(N'2020-06-01T21:51:00.000' AS DateTime), N'Luis Gamez', NULL, NULL)
INSERT [dbo].[ElementosDelInventario] ([idElementoDelInventario], [nombre], [unidadDeMedida], [descripcion], [valorDeLaUnidad], [fechaDeCreacion], [usuarioQueLaCreo], [fechaDeUltimoUpdate], [usuarioQueRealizoElUpdate]) VALUES (251, N'Carne de ternera ', N'cajas Kg', N'Una descripcion de ejemplo para los ingredientes de la BD', 8.0000, CAST(N'2020-06-01T21:51:00.000' AS DateTime), N'Luis Gamez', NULL, NULL)
INSERT [dbo].[ElementosDelInventario] ([idElementoDelInventario], [nombre], [unidadDeMedida], [descripcion], [valorDeLaUnidad], [fechaDeCreacion], [usuarioQueLaCreo], [fechaDeUltimoUpdate], [usuarioQueRealizoElUpdate]) VALUES (252, N'Queso Cheddar en lonchas ', N'lonchas', N'Una descripcion de ejemplo para los ingredientes de la BD', 5.0000, CAST(N'2020-06-01T21:51:00.000' AS DateTime), N'Luis Gamez', NULL, NULL)
SET IDENTITY_INSERT [dbo].[ElementosDelInventario] OFF
GO
SET IDENTITY_INSERT [dbo].[Empleados] ON 

INSERT [dbo].[Empleados] ([idEmpleado], [primerNombre], [segundoNombre], [primerApellido], [segundoApellido], [fechaDeNacimiento], [idMunicipio], [fechaVinculacion], [fechaRetiro], [contratoVigente], [documentoIdentidad], [direccionResidencia], [Salario], [fechaDeCreacion], [usuarioQueLacreo], [fechaDeUltimoUpdate], [usuarioQueRealizoElUltimoUpdate]) VALUES (700, N'Antonio', N'Vicente', N'Garcia', N'Gonzales', CAST(N'2000-01-01' AS Date), 300, NULL, NULL, 1, N'123123432', N'kra 24 ja{aw', 900.0000, NULL, NULL, NULL, NULL)
INSERT [dbo].[Empleados] ([idEmpleado], [primerNombre], [segundoNombre], [primerApellido], [segundoApellido], [fechaDeNacimiento], [idMunicipio], [fechaVinculacion], [fechaRetiro], [contratoVigente], [documentoIdentidad], [direccionResidencia], [Salario], [fechaDeCreacion], [usuarioQueLacreo], [fechaDeUltimoUpdate], [usuarioQueRealizoElUltimoUpdate]) VALUES (701, N'Francisco', N'Emilio', N'Lopez', N'Jimenez', CAST(N'1992-01-01' AS Date), 300, NULL, NULL, 1, N'123234234', N'kra 24 ja{aw', 900.0000, NULL, NULL, NULL, NULL)
INSERT [dbo].[Empleados] ([idEmpleado], [primerNombre], [segundoNombre], [primerApellido], [segundoApellido], [fechaDeNacimiento], [idMunicipio], [fechaVinculacion], [fechaRetiro], [contratoVigente], [documentoIdentidad], [direccionResidencia], [Salario], [fechaDeCreacion], [usuarioQueLacreo], [fechaDeUltimoUpdate], [usuarioQueRealizoElUltimoUpdate]) VALUES (702, N'Pedro', N'Alfonso', N'Gomez', N'Ruiz', CAST(N'1980-01-01' AS Date), 300, NULL, NULL, 1, N'232442353', N'Kra 23 #10:34', 950.0000, NULL, NULL, CAST(N'2020-06-01T00:00:00.000' AS DateTime), N'Luis Gamez')
SET IDENTITY_INSERT [dbo].[Empleados] OFF
GO
INSERT [dbo].[EmpleadosEnRestaurantes] ([idRestaurante], [idEmpleado], [fechaDeCreacion], [usuarioQueLaCreao], [fechaDeUltimoUpdate], [usuarioQueRealizoElUpdate]) VALUES (1, 700, CAST(N'2020-06-03T19:08:00.000' AS DateTime), N'Luis Gamez', NULL, NULL)
INSERT [dbo].[EmpleadosEnRestaurantes] ([idRestaurante], [idEmpleado], [fechaDeCreacion], [usuarioQueLaCreao], [fechaDeUltimoUpdate], [usuarioQueRealizoElUpdate]) VALUES (1, 701, CAST(N'2020-06-03T19:08:00.000' AS DateTime), N'Luis Gamez', NULL, NULL)
INSERT [dbo].[EmpleadosEnRestaurantes] ([idRestaurante], [idEmpleado], [fechaDeCreacion], [usuarioQueLaCreao], [fechaDeUltimoUpdate], [usuarioQueRealizoElUpdate]) VALUES (3, 702, CAST(N'2020-06-03T19:08:00.000' AS DateTime), N'Luis Gamez', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[EmpresasOperadorasDeTelefonia] ON 

INSERT [dbo].[EmpresasOperadorasDeTelefonia] ([idEmpresaOperadoraDeTelefonia], [nombreEmpresaOT], [descripcion], [fechaDeCreacion], [usuarioQueLacreo], [fechaDeUltimoUpdate], [usuarioQueRealizoElUltimoUpdate]) VALUES (600, N'Tigo', N'Una descripcion de ejemplo para la bas de datos', CAST(N'2020-05-27T23:10:00.000' AS DateTime), N'Luis Gamez', NULL, NULL)
INSERT [dbo].[EmpresasOperadorasDeTelefonia] ([idEmpresaOperadoraDeTelefonia], [nombreEmpresaOT], [descripcion], [fechaDeCreacion], [usuarioQueLacreo], [fechaDeUltimoUpdate], [usuarioQueRealizoElUltimoUpdate]) VALUES (601, N'Movistar', N'Una descripcion de ejemplo para la bas de datos', CAST(N'2020-05-27T23:10:00.000' AS DateTime), N'Luis Gamez', NULL, NULL)
INSERT [dbo].[EmpresasOperadorasDeTelefonia] ([idEmpresaOperadoraDeTelefonia], [nombreEmpresaOT], [descripcion], [fechaDeCreacion], [usuarioQueLacreo], [fechaDeUltimoUpdate], [usuarioQueRealizoElUltimoUpdate]) VALUES (602, N'Claro', N'Una descripcion de ejemplo para la bas de datos', CAST(N'2020-05-27T23:10:00.000' AS DateTime), N'Luis Gamez', NULL, NULL)
SET IDENTITY_INSERT [dbo].[EmpresasOperadorasDeTelefonia] OFF
GO
INSERT [dbo].[Ingredientes] ([idElementoDelInventario], [fechaDeCreacion], [usuarioQueLaCreo], [fechaDeUltimoUpdate], [usuarioQueRealizoElUpdate]) VALUES (250, CAST(N'2020-06-03T19:50:00.000' AS DateTime), N'Luis Gamez', NULL, NULL)
INSERT [dbo].[Ingredientes] ([idElementoDelInventario], [fechaDeCreacion], [usuarioQueLaCreo], [fechaDeUltimoUpdate], [usuarioQueRealizoElUpdate]) VALUES (251, CAST(N'2020-06-03T19:50:00.000' AS DateTime), N'Luis Gamez', NULL, NULL)
INSERT [dbo].[Ingredientes] ([idElementoDelInventario], [fechaDeCreacion], [usuarioQueLaCreo], [fechaDeUltimoUpdate], [usuarioQueRealizoElUpdate]) VALUES (252, CAST(N'2020-06-03T19:50:00.000' AS DateTime), N'Luis Gamez', NULL, NULL)
GO
INSERT [dbo].[IngredientesDeLosProductos] ([idElementoDelInventario], [idProducto], [cantidadRequerida], [usuarioQueLaCreao], [fechaDeCreacion], [usuarioQueRealizoElUltimoUpdate], [fechaDeUltimoUpdate]) VALUES (250, 800, 2, N'Luis Gamez', CAST(N'2020-03-03T20:47:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[IngredientesDeLosProductos] ([idElementoDelInventario], [idProducto], [cantidadRequerida], [usuarioQueLaCreao], [fechaDeCreacion], [usuarioQueRealizoElUltimoUpdate], [fechaDeUltimoUpdate]) VALUES (250, 802, 2, N'Luis Gamez', CAST(N'2020-03-03T20:47:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[IngredientesDeLosProductos] ([idElementoDelInventario], [idProducto], [cantidadRequerida], [usuarioQueLaCreao], [fechaDeCreacion], [usuarioQueRealizoElUltimoUpdate], [fechaDeUltimoUpdate]) VALUES (250, 803, 2, N'Luis Gamez', CAST(N'2020-03-03T20:47:00.000' AS DateTime), NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[MovimientoDeLInventarioDeRestaurantes] ON 

INSERT [dbo].[MovimientoDeLInventarioDeRestaurantes] ([idMovimiento], [idElementoDelInvetario], [idRestaurante], [idTipoDeMovimiento], [cantidadDeunidades], [descripcion], [fechaMovimiento], [fechaeDeCreacion], [usuarioQueLaCreo], [fechaDeUltimoUpdate], [ususarioQueRealizoElUpdate]) VALUES (1050, 295, 1, 950, 10, N'Una descripcion de ejemplo para la tabla de Movimientos del inventario de restaurantes', CAST(N'1010-10-10' AS Date), NULL, NULL, NULL, NULL)
INSERT [dbo].[MovimientoDeLInventarioDeRestaurantes] ([idMovimiento], [idElementoDelInvetario], [idRestaurante], [idTipoDeMovimiento], [cantidadDeunidades], [descripcion], [fechaMovimiento], [fechaeDeCreacion], [usuarioQueLaCreo], [fechaDeUltimoUpdate], [ususarioQueRealizoElUpdate]) VALUES (1051, 296, 1, 950, 20, N'Una descripcion de ejemplo para la tabla de Movimientos del inventario de restaurantes', CAST(N'1010-10-10' AS Date), NULL, NULL, NULL, NULL)
INSERT [dbo].[MovimientoDeLInventarioDeRestaurantes] ([idMovimiento], [idElementoDelInvetario], [idRestaurante], [idTipoDeMovimiento], [cantidadDeunidades], [descripcion], [fechaMovimiento], [fechaeDeCreacion], [usuarioQueLaCreo], [fechaDeUltimoUpdate], [ususarioQueRealizoElUpdate]) VALUES (1052, 297, 1, 950, 50, N'Una descripcion de ejemplo para la tabla de Movimientos del inventario de restaurantes', CAST(N'1010-10-10' AS Date), NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[MovimientoDeLInventarioDeRestaurantes] OFF
GO
SET IDENTITY_INSERT [dbo].[Municipios] ON 

INSERT [dbo].[Municipios] ([idMunicipio], [nombre], [descripcion], [idDepartamento], [fechaDeCreacion], [usuarioQueLacreo], [fechaDeUltimoUpdate], [usuarioQueRealizoElUltimoUpdate]) VALUES (300, N'Medellin', N'Una descripcion de prueba para la tabla de municipios en la bd', 402, CAST(N'2020-05-28T00:04:00.000' AS DateTime), N'Luis Gamez', NULL, NULL)
INSERT [dbo].[Municipios] ([idMunicipio], [nombre], [descripcion], [idDepartamento], [fechaDeCreacion], [usuarioQueLacreo], [fechaDeUltimoUpdate], [usuarioQueRealizoElUltimoUpdate]) VALUES (303, N'Barranquilla', N'Una descripcion de prueba para la tabla de municipios en la bd', 401, CAST(N'2020-05-28T00:04:00.000' AS DateTime), N'Luis Gamez', NULL, NULL)
INSERT [dbo].[Municipios] ([idMunicipio], [nombre], [descripcion], [idDepartamento], [fechaDeCreacion], [usuarioQueLacreo], [fechaDeUltimoUpdate], [usuarioQueRealizoElUltimoUpdate]) VALUES (304, N'Santa Marta', N'Una descripcion de prueba para la tabla de municipios en la bd', 400, CAST(N'2020-05-28T00:04:00.000' AS DateTime), N'Luis Gamez', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Municipios] OFF
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([idProducto], [nombreProducto], [descripcion], [idCategoriaDelProducto], [precioUnitarioSugerido], [disponibleDesde], [disponibleHasta], [disponible], [calorias], [fechaDeCreacion], [usuarioQueLacreo], [fechaDeUltimoUpdate], [usuarioQueRealizoElUltimoUpdate]) VALUES (800, N'Doble hamburguesa de queso', N'Una descripcion de prueba para testear la base de  datos de  hambuerguesas', 120, 20.0000, CAST(N'2018-02-01' AS Date), NULL, 1, 80, NULL, NULL, NULL, NULL)
INSERT [dbo].[Productos] ([idProducto], [nombreProducto], [descripcion], [idCategoriaDelProducto], [precioUnitarioSugerido], [disponibleDesde], [disponibleHasta], [disponible], [calorias], [fechaDeCreacion], [usuarioQueLacreo], [fechaDeUltimoUpdate], [usuarioQueRealizoElUltimoUpdate]) VALUES (802, N'Hambuerguesa Triple con queso', N'Una descripcion de prueba para testear la base de  datos de  hambuerguesas', 120, 25.0000, CAST(N'2018-02-01' AS Date), NULL, 1, 90, NULL, NULL, NULL, NULL)
INSERT [dbo].[Productos] ([idProducto], [nombreProducto], [descripcion], [idCategoriaDelProducto], [precioUnitarioSugerido], [disponibleDesde], [disponibleHasta], [disponible], [calorias], [fechaDeCreacion], [usuarioQueLacreo], [fechaDeUltimoUpdate], [usuarioQueRealizoElUltimoUpdate]) VALUES (803, N'Big Mac', N'Una descripcion de prueba para testear la base de  datos de  hambuerguesas', 120, 30.0000, CAST(N'2018-02-01' AS Date), NULL, 1, 85, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Productos] OFF
GO
INSERT [dbo].[ProductosDelMenu] ([idRestaurante], [idProducto], [ofertadoDesde], [ofertadoHasta], [precioVenta], [fechaDeCreacion], [usuarioQueLacreo], [fechaDeUltimoUpdate], [usuarioQueRealizoElUltimoUpdate]) VALUES (1, 800, CAST(N'2015-01-01' AS Date), NULL, 20.0000, NULL, NULL, NULL, NULL)
INSERT [dbo].[ProductosDelMenu] ([idRestaurante], [idProducto], [ofertadoDesde], [ofertadoHasta], [precioVenta], [fechaDeCreacion], [usuarioQueLacreo], [fechaDeUltimoUpdate], [usuarioQueRealizoElUltimoUpdate]) VALUES (1, 802, CAST(N'2015-01-01' AS Date), NULL, 25.0000, NULL, NULL, NULL, NULL)
INSERT [dbo].[ProductosDelMenu] ([idRestaurante], [idProducto], [ofertadoDesde], [ofertadoHasta], [precioVenta], [fechaDeCreacion], [usuarioQueLacreo], [fechaDeUltimoUpdate], [usuarioQueRealizoElUltimoUpdate]) VALUES (1, 803, CAST(N'2015-01-01' AS Date), NULL, 30.0000, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[ProductosVendidos] ON 

INSERT [dbo].[ProductosVendidos] ([idProductoVendido], [idVenta], [idProducto], [cantidadDeUnidadesVendidas], [precioUnitarioVenta], [descuento], [fechaDeCreacion], [usuarioQueLacreo], [fechaDeUltimoUpdate], [usuarioQueRealizoElUltimoUpdate]) VALUES (3003, 900, 800, 2, 40.0000, 0, CAST(N'2020-05-29T23:32:00.000' AS DateTime), N'Luis Gamez', NULL, NULL)
INSERT [dbo].[ProductosVendidos] ([idProductoVendido], [idVenta], [idProducto], [cantidadDeUnidadesVendidas], [precioUnitarioVenta], [descuento], [fechaDeCreacion], [usuarioQueLacreo], [fechaDeUltimoUpdate], [usuarioQueRealizoElUltimoUpdate]) VALUES (3004, 900, 813, 1, 30.0000, 0, CAST(N'2020-05-29T23:32:00.000' AS DateTime), N'Luis Gamez', NULL, NULL)
INSERT [dbo].[ProductosVendidos] ([idProductoVendido], [idVenta], [idProducto], [cantidadDeUnidadesVendidas], [precioUnitarioVenta], [descuento], [fechaDeCreacion], [usuarioQueLacreo], [fechaDeUltimoUpdate], [usuarioQueRealizoElUltimoUpdate]) VALUES (3005, 900, 827, 2, 8.0000, 0, CAST(N'2020-05-29T23:32:00.000' AS DateTime), N'Luis Gamez', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[ProductosVendidos] OFF
GO
SET IDENTITY_INSERT [dbo].[Restaurantes] ON 

INSERT [dbo].[Restaurantes] ([idRestaurante], [nombreRestaurante], [direccion], [fechaInicioActividades], [idMunicipio], [fechaDeCreacion], [usuarioQueLacreo], [fechaDeUltimoUpdate], [usuarioQueRealizoElUltimoUpdate]) VALUES (1, N'HelEstablo (Medellin)', N'kra 45 . 54jf', CAST(N'1010-10-10' AS Date), 300, CAST(N'2020-05-28T00:41:00.000' AS DateTime), N'Luis Gamez', NULL, NULL)
INSERT [dbo].[Restaurantes] ([idRestaurante], [nombreRestaurante], [direccion], [fechaInicioActividades], [idMunicipio], [fechaDeCreacion], [usuarioQueLacreo], [fechaDeUltimoUpdate], [usuarioQueRealizoElUltimoUpdate]) VALUES (3, N'HelEstablo2 (Medellin)', N'kra5.- tr65', CAST(N'1010-10-10' AS Date), 300, CAST(N'2020-05-28T00:41:00.000' AS DateTime), N'Luis Gamez', NULL, NULL)
INSERT [dbo].[Restaurantes] ([idRestaurante], [nombreRestaurante], [direccion], [fechaInicioActividades], [idMunicipio], [fechaDeCreacion], [usuarioQueLacreo], [fechaDeUltimoUpdate], [usuarioQueRealizoElUltimoUpdate]) VALUES (4, N'HelEstablo (Barranquilla)', N'kra 3543- ue45', CAST(N'1010-10-01' AS Date), 303, CAST(N'2020-05-28T00:41:00.000' AS DateTime), N'Luis Gamez', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Restaurantes] OFF
GO
SET IDENTITY_INSERT [dbo].[TelefonosDeLosEmpleados] ON 

INSERT [dbo].[TelefonosDeLosEmpleados] ([idTelefonoEmpleado], [idEmpleado], [idTipoTelefono], [idEmpresaOperadoraDeTelefonia], [numero], [fechaDeCreacion], [usuarioQueLacreo], [fechaDeUltimoUpdate], [usuarioQueRealizoElUltimoUpdate]) VALUES (20000000, 700, 500, 600, N'20000000', CAST(N'2020-06-02T22:22:00.000' AS DateTime), N'Luis Gamez', NULL, NULL)
INSERT [dbo].[TelefonosDeLosEmpleados] ([idTelefonoEmpleado], [idEmpleado], [idTipoTelefono], [idEmpresaOperadoraDeTelefonia], [numero], [fechaDeCreacion], [usuarioQueLacreo], [fechaDeUltimoUpdate], [usuarioQueRealizoElUltimoUpdate]) VALUES (20000001, 701, 500, 601, N'20000001', CAST(N'2020-06-02T22:22:00.000' AS DateTime), N'Luis Gamez', NULL, NULL)
INSERT [dbo].[TelefonosDeLosEmpleados] ([idTelefonoEmpleado], [idEmpleado], [idTipoTelefono], [idEmpresaOperadoraDeTelefonia], [numero], [fechaDeCreacion], [usuarioQueLacreo], [fechaDeUltimoUpdate], [usuarioQueRealizoElUltimoUpdate]) VALUES (20000002, 702, 500, 602, N'20000002', CAST(N'2020-06-02T22:22:00.000' AS DateTime), N'Luis Gamez', NULL, NULL)
SET IDENTITY_INSERT [dbo].[TelefonosDeLosEmpleados] OFF
GO
SET IDENTITY_INSERT [dbo].[TelefonosDeLosRestaurantes] ON 

INSERT [dbo].[TelefonosDeLosRestaurantes] ([idTelefonoRestaurante], [idTipoTelefono], [idEmpresaOperadoraDeTelefonia], [idRestaurante], [numero], [fechaDeCreacion], [usuarioQueLacreo], [fechaDeUltimoUpdate], [usuarioQueRealizoElUltimoUpdate]) VALUES (10000001, 500, 600, 1, N'10000001', CAST(N'2020-05-28T00:52:00.000' AS DateTime), N'Luis Gamez', NULL, NULL)
INSERT [dbo].[TelefonosDeLosRestaurantes] ([idTelefonoRestaurante], [idTipoTelefono], [idEmpresaOperadoraDeTelefonia], [idRestaurante], [numero], [fechaDeCreacion], [usuarioQueLacreo], [fechaDeUltimoUpdate], [usuarioQueRealizoElUltimoUpdate]) VALUES (10000002, 500, 601, 3, N'10000002', CAST(N'2020-05-28T00:52:00.000' AS DateTime), N'Luis Gamez', NULL, NULL)
INSERT [dbo].[TelefonosDeLosRestaurantes] ([idTelefonoRestaurante], [idTipoTelefono], [idEmpresaOperadoraDeTelefonia], [idRestaurante], [numero], [fechaDeCreacion], [usuarioQueLacreo], [fechaDeUltimoUpdate], [usuarioQueRealizoElUltimoUpdate]) VALUES (10000003, 501, 602, 4, N'10000003', CAST(N'2020-05-28T00:52:00.000' AS DateTime), N'Luis Gamez', NULL, NULL)
SET IDENTITY_INSERT [dbo].[TelefonosDeLosRestaurantes] OFF
GO
SET IDENTITY_INSERT [dbo].[TiposDeMovimientosDelInventario] ON 

INSERT [dbo].[TiposDeMovimientosDelInventario] ([idTipoDeMovimiento], [nombreMovimiento], [descripcion], [fechaDeCreacion], [usuarioQueLaCreao], [fechaDeUltimoUpdate], [usuarioQueRealizoElUpdate]) VALUES (950, N'Entrada', N'Una descipcion de puesba para la tabla tipos de movimientos en la DB', CAST(N'2020-06-03T20:50:00.000' AS DateTime), N'Luis Gamez', NULL, NULL)
INSERT [dbo].[TiposDeMovimientosDelInventario] ([idTipoDeMovimiento], [nombreMovimiento], [descripcion], [fechaDeCreacion], [usuarioQueLaCreao], [fechaDeUltimoUpdate], [usuarioQueRealizoElUpdate]) VALUES (951, N'Salida', N'Una descipcion de puesba para la tabla tipos de movimientos en la DB', CAST(N'2020-06-03T20:50:00.000' AS DateTime), N'Luis Gamez', NULL, NULL)
SET IDENTITY_INSERT [dbo].[TiposDeMovimientosDelInventario] OFF
GO
SET IDENTITY_INSERT [dbo].[TiposDeTelefonos] ON 

INSERT [dbo].[TiposDeTelefonos] ([idTipoDeTelefono], [nombreDelTipo], [descripcion], [fechaDeCreacion], [usuarioQueLacreo], [fechaDeUltimaUpdate], [usuarioQueRealizoLaUpdate]) VALUES (500, N'Movil', N'Una descripcion de prueba para la tabla de tipos de telefonos.', CAST(N'2020-05-27T23:29:00.000' AS DateTime), N'Luis Gamez', NULL, NULL)
INSERT [dbo].[TiposDeTelefonos] ([idTipoDeTelefono], [nombreDelTipo], [descripcion], [fechaDeCreacion], [usuarioQueLacreo], [fechaDeUltimaUpdate], [usuarioQueRealizoLaUpdate]) VALUES (501, N'Fijo', N'Una descripcion de prueba para la tabla de tipos de telefonos.', CAST(N'2020-05-27T23:29:00.000' AS DateTime), N'Luis Gamez', NULL, NULL)
SET IDENTITY_INSERT [dbo].[TiposDeTelefonos] OFF
GO
SET IDENTITY_INSERT [dbo].[Ventas] ON 

INSERT [dbo].[Ventas] ([idVenta], [numeroDeFacturaDIAN], [fechaYHoraVenta], [idEmpleado], [idRestaurante], [idCliente], [propina], [fechaDeCreacion], [usuarioQueLacreo], [fechaDeUltimoUpdate], [usuarioQueRealizoElUltimoUpdate]) VALUES (900, N'354600345', CAST(N'2018-01-12T18:30:00.000' AS DateTime), 700, 1, 2002, 3.0000, NULL, NULL, NULL, NULL)
INSERT [dbo].[Ventas] ([idVenta], [numeroDeFacturaDIAN], [fechaYHoraVenta], [idEmpleado], [idRestaurante], [idCliente], [propina], [fechaDeCreacion], [usuarioQueLacreo], [fechaDeUltimoUpdate], [usuarioQueRealizoElUltimoUpdate]) VALUES (901, N'354600346', CAST(N'2018-01-13T18:30:00.000' AS DateTime), 700, 1, 2004, 1.0000, NULL, NULL, NULL, NULL)
INSERT [dbo].[Ventas] ([idVenta], [numeroDeFacturaDIAN], [fechaYHoraVenta], [idEmpleado], [idRestaurante], [idCliente], [propina], [fechaDeCreacion], [usuarioQueLacreo], [fechaDeUltimoUpdate], [usuarioQueRealizoElUltimoUpdate]) VALUES (902, N'354600347', CAST(N'2018-01-13T18:00:00.000' AS DateTime), 700, 1, 2002, 2.0000, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Ventas] OFF
GO
ALTER TABLE [dbo].[Empleados]  WITH CHECK ADD  CONSTRAINT [FK_Municipios_Empleados] FOREIGN KEY([idMunicipio])
REFERENCES [dbo].[Municipios] ([idMunicipio])
GO
ALTER TABLE [dbo].[Empleados] CHECK CONSTRAINT [FK_Municipios_Empleados]
GO
ALTER TABLE [dbo].[EmpleadosEnRestaurantes]  WITH CHECK ADD  CONSTRAINT [FK_EmpleadosEnRestaurantes_Empleados] FOREIGN KEY([idEmpleado])
REFERENCES [dbo].[Empleados] ([idEmpleado])
GO
ALTER TABLE [dbo].[EmpleadosEnRestaurantes] CHECK CONSTRAINT [FK_EmpleadosEnRestaurantes_Empleados]
GO
ALTER TABLE [dbo].[EmpleadosEnRestaurantes]  WITH CHECK ADD  CONSTRAINT [FK_EmpleadosEnRestaurantes_Restaurantes] FOREIGN KEY([idRestaurante])
REFERENCES [dbo].[Restaurantes] ([idRestaurante])
GO
ALTER TABLE [dbo].[EmpleadosEnRestaurantes] CHECK CONSTRAINT [FK_EmpleadosEnRestaurantes_Restaurantes]
GO
ALTER TABLE [dbo].[IngredientesDeLosProductos]  WITH CHECK ADD  CONSTRAINT [FK_IngredientesDeLosProductos_IngredientesDeLosProductos] FOREIGN KEY([idElementoDelInventario])
REFERENCES [dbo].[Ingredientes] ([idElementoDelInventario])
GO
ALTER TABLE [dbo].[IngredientesDeLosProductos] CHECK CONSTRAINT [FK_IngredientesDeLosProductos_IngredientesDeLosProductos]
GO
ALTER TABLE [dbo].[IngredientesDeLosProductos]  WITH CHECK ADD  CONSTRAINT [FK_IngredientesDeLosProductos_Productos] FOREIGN KEY([idProducto])
REFERENCES [dbo].[Productos] ([idProducto])
GO
ALTER TABLE [dbo].[IngredientesDeLosProductos] CHECK CONSTRAINT [FK_IngredientesDeLosProductos_Productos]
GO
ALTER TABLE [dbo].[MovimientoDeLInventarioDeRestaurantes]  WITH CHECK ADD  CONSTRAINT [FK_MovimientoDeLInventarioDeRestaurantes_ElementosDelInventario] FOREIGN KEY([idElementoDelInvetario])
REFERENCES [dbo].[ElementosDelInventario] ([idElementoDelInventario])
GO
ALTER TABLE [dbo].[MovimientoDeLInventarioDeRestaurantes] CHECK CONSTRAINT [FK_MovimientoDeLInventarioDeRestaurantes_ElementosDelInventario]
GO
ALTER TABLE [dbo].[MovimientoDeLInventarioDeRestaurantes]  WITH CHECK ADD  CONSTRAINT [FK_MovimientoDeLInventarioDeRestaurantes_Restaurantes] FOREIGN KEY([idRestaurante])
REFERENCES [dbo].[Restaurantes] ([idRestaurante])
GO
ALTER TABLE [dbo].[MovimientoDeLInventarioDeRestaurantes] CHECK CONSTRAINT [FK_MovimientoDeLInventarioDeRestaurantes_Restaurantes]
GO
ALTER TABLE [dbo].[MovimientoDeLInventarioDeRestaurantes]  WITH CHECK ADD  CONSTRAINT [FK_MovimientoDeLInventarioDeRestaurantes_TiposDeMovimientosDelInventario] FOREIGN KEY([idTipoDeMovimiento])
REFERENCES [dbo].[TiposDeMovimientosDelInventario] ([idTipoDeMovimiento])
GO
ALTER TABLE [dbo].[MovimientoDeLInventarioDeRestaurantes] CHECK CONSTRAINT [FK_MovimientoDeLInventarioDeRestaurantes_TiposDeMovimientosDelInventario]
GO
ALTER TABLE [dbo].[Municipios]  WITH CHECK ADD  CONSTRAINT [FK_Municipios_Departamentos] FOREIGN KEY([idDepartamento])
REFERENCES [dbo].[Departamentos] ([idDepartamento])
GO
ALTER TABLE [dbo].[Municipios] CHECK CONSTRAINT [FK_Municipios_Departamentos]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Productos] FOREIGN KEY([idCategoriaDelProducto])
REFERENCES [dbo].[CategoriasDeProductos] ([idCategoriaProducto])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Productos]
GO
ALTER TABLE [dbo].[ProductosDelMenu]  WITH CHECK ADD  CONSTRAINT [FK_ProductosDelMenu_Productos] FOREIGN KEY([idProducto])
REFERENCES [dbo].[Productos] ([idProducto])
GO
ALTER TABLE [dbo].[ProductosDelMenu] CHECK CONSTRAINT [FK_ProductosDelMenu_Productos]
GO
ALTER TABLE [dbo].[ProductosDelMenu]  WITH CHECK ADD  CONSTRAINT [FK_ProductosDelMenu_Restaurantes] FOREIGN KEY([idRestaurante])
REFERENCES [dbo].[Restaurantes] ([idRestaurante])
GO
ALTER TABLE [dbo].[ProductosDelMenu] CHECK CONSTRAINT [FK_ProductosDelMenu_Restaurantes]
GO
ALTER TABLE [dbo].[ProductosVendidos]  WITH CHECK ADD  CONSTRAINT [FK_ProductosVendidos_ProductosVendidos] FOREIGN KEY([idProducto])
REFERENCES [dbo].[Productos] ([idProducto])
GO
ALTER TABLE [dbo].[ProductosVendidos] CHECK CONSTRAINT [FK_ProductosVendidos_ProductosVendidos]
GO
ALTER TABLE [dbo].[ProductosVendidos]  WITH CHECK ADD  CONSTRAINT [FK_ProductosVendidos_Ventas] FOREIGN KEY([idVenta])
REFERENCES [dbo].[Ventas] ([idVenta])
GO
ALTER TABLE [dbo].[ProductosVendidos] CHECK CONSTRAINT [FK_ProductosVendidos_Ventas]
GO
ALTER TABLE [dbo].[Restaurantes]  WITH CHECK ADD  CONSTRAINT [FK_Restaurantes_Restaurantes] FOREIGN KEY([idMunicipio])
REFERENCES [dbo].[Municipios] ([idMunicipio])
GO
ALTER TABLE [dbo].[Restaurantes] CHECK CONSTRAINT [FK_Restaurantes_Restaurantes]
GO
ALTER TABLE [dbo].[TelefonosDeLosEmpleados]  WITH CHECK ADD  CONSTRAINT [FK_TelefonosDeLosEmpleados_Empleados] FOREIGN KEY([idEmpleado])
REFERENCES [dbo].[Empleados] ([idEmpleado])
GO
ALTER TABLE [dbo].[TelefonosDeLosEmpleados] CHECK CONSTRAINT [FK_TelefonosDeLosEmpleados_Empleados]
GO
ALTER TABLE [dbo].[TelefonosDeLosEmpleados]  WITH CHECK ADD  CONSTRAINT [FK_TelefonosDeLosEmpleados_EmpresasOperadorasDeTelefonia] FOREIGN KEY([idEmpresaOperadoraDeTelefonia])
REFERENCES [dbo].[EmpresasOperadorasDeTelefonia] ([idEmpresaOperadoraDeTelefonia])
GO
ALTER TABLE [dbo].[TelefonosDeLosEmpleados] CHECK CONSTRAINT [FK_TelefonosDeLosEmpleados_EmpresasOperadorasDeTelefonia]
GO
ALTER TABLE [dbo].[TelefonosDeLosEmpleados]  WITH CHECK ADD  CONSTRAINT [FK_TelefonosDeLosEmpleados_TiposDeTelefonos] FOREIGN KEY([idTipoTelefono])
REFERENCES [dbo].[TiposDeTelefonos] ([idTipoDeTelefono])
GO
ALTER TABLE [dbo].[TelefonosDeLosEmpleados] CHECK CONSTRAINT [FK_TelefonosDeLosEmpleados_TiposDeTelefonos]
GO
ALTER TABLE [dbo].[TelefonosDeLosRestaurantes]  WITH CHECK ADD  CONSTRAINT [FK_TelefonosDeLosRestaurantes_EmpresasOperadorasDeTelefonia] FOREIGN KEY([idEmpresaOperadoraDeTelefonia])
REFERENCES [dbo].[EmpresasOperadorasDeTelefonia] ([idEmpresaOperadoraDeTelefonia])
GO
ALTER TABLE [dbo].[TelefonosDeLosRestaurantes] CHECK CONSTRAINT [FK_TelefonosDeLosRestaurantes_EmpresasOperadorasDeTelefonia]
GO
ALTER TABLE [dbo].[TelefonosDeLosRestaurantes]  WITH CHECK ADD  CONSTRAINT [FK_TelefonosDeLosRestaurantes_Restaurantes] FOREIGN KEY([idRestaurante])
REFERENCES [dbo].[Restaurantes] ([idRestaurante])
GO
ALTER TABLE [dbo].[TelefonosDeLosRestaurantes] CHECK CONSTRAINT [FK_TelefonosDeLosRestaurantes_Restaurantes]
GO
ALTER TABLE [dbo].[TelefonosDeLosRestaurantes]  WITH CHECK ADD  CONSTRAINT [FK_TelefonosDeLosRestaurantes_TiposDeTelefonos] FOREIGN KEY([idTipoTelefono])
REFERENCES [dbo].[TiposDeTelefonos] ([idTipoDeTelefono])
GO
ALTER TABLE [dbo].[TelefonosDeLosRestaurantes] CHECK CONSTRAINT [FK_TelefonosDeLosRestaurantes_TiposDeTelefonos]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_Clientes] FOREIGN KEY([idCliente])
REFERENCES [dbo].[Clientes] ([idCliente])
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_Ventas_Clientes]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_Empleados] FOREIGN KEY([idEmpleado])
REFERENCES [dbo].[Empleados] ([idEmpleado])
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_Ventas_Empleados]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_Restaurantes] FOREIGN KEY([idRestaurante])
REFERENCES [dbo].[Restaurantes] ([idRestaurante])
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_Ventas_Restaurantes]
GO
/****** Object:  StoredProcedure [dbo].[pa_ActualizarElLugarDeResidenciaDeUnEmpleado]    Script Date: 27/6/2020 19:09:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_ActualizarElLugarDeResidenciaDeUnEmpleado]
@documentoE varchar(MAX) = '',
@ciudadNueva varchar(MAX) = '',
@direccionNueva varchar(MAX) = '',
@fechaUpdate date = '',
@usuarioQueRealizaElUpdate varchar(MAX) = ''
AS

declare @idEmpleado int = 0
declare @idCiudad int = 0

SELECT @idEmpleado = idEmpleado 
FROM Empleados
WHERE documentoIdentidad = @documentoE

SELECT @idCiudad = idMunicipio
FROM Municipios
WHERE nombre = @ciudadNueva

IF(@idEmpleado != 0 AND @idCiudad != 0)
	
	UPDATE Empleados SET direccionResidencia = @direccionNueva, idMunicipio = @idCiudad, fechaDeUltimoUpdate=@fechaUpdate, usuarioQueRealizoElUltimoUpdate=@usuarioQueRealizaElUpdate  
	WHERE documentoIdentidad = @documentoE
		
ELSE
	SELECT -1, 'No se encontro el empleado o el municipio'
	RETURN (0)
GO
/****** Object:  StoredProcedure [dbo].[pa_CuantoDineroIngresoPorElproducto_X]    Script Date: 27/6/2020 19:09:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_CuantoDineroIngresoPorElproducto_X]
@idProducto int = 0
AS
SELECT
	P.nombreProducto as Producto,
	CP.nombreCategoria as Categoria,
	P.descripcion,
	P.disponibleDesde,
	P.precioUnitarioSugerido,
	SUM(precioUnitarioVenta*cantidadDeUnidadesVendidas * (1-descuento)) as dineroQueIngreso
FROM
	Productos as P JOIN ProductosVendidos as PV
	ON P.idProducto = PV.idProducto

	JOIN CategoriasDeProductos as CP
	ON P.idCategoriaDelProducto = CP.idCategoriaProducto
WHERE
	P.idProducto = @idProducto
GROUP BY
	P.nombreProducto,
	CP.nombreCategoria,
	P.descripcion,
	P.disponibleDesde,
	P.precioUnitarioSugerido
GO
/****** Object:  StoredProcedure [dbo].[pa_EmpleadosDe_X_Restaurante]    Script Date: 27/6/2020 19:09:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_EmpleadosDe_X_Restaurante] 
@idRestaurante int = 0
AS
SELECT DISTINCT
	E.primerNombre+' '+E.segundoNombre as Nombres,
	E.primerApellido+' '+E.segundoApellido as Apellidos,
	E.documentoIdentidad,
	E.Salario,
	E.fechaDeNacimiento,
	E.direccionResidencia,
	M.nombre as CiudadMUN,
	D.nombre as Departamento,
	E.contratoVigente,
	TE.numero as Telefono,
	TT.nombreDelTipo as Tipo,
	EOT.nombreEmpresaOT as Operadora
FROM
	Empleados as E JOIN Ventas as V
	ON E.idEmpleado = V.idEmpleado

	JOIN Restaurantes as R
	ON V.idRestaurante = R.idRestaurante

	JOIN Municipios as M
	ON E.idMunicipio = M.idMunicipio

	JOIN Departamentos as D
	ON M.idDepartamento = D.idDepartamento

	JOIN TelefonosDeLosEmpleados as TE
	ON E.idEmpleado = TE.idEmpleado

	JOIN TiposDeTelefonos as TT
	ON TE.idTipoTelefono = TT.idTipoDeTelefono

	JOIN EmpresasOperadorasDeTelefonia as EOT
	ON TE.idEmpresaOperadoraDeTelefonia = EOT.idEmpresaOperadoraDeTelefonia
WHERE
	R.idRestaurante = @idRestaurante
GO
/****** Object:  StoredProcedure [dbo].[pa_IngresosDeUnRestauranteEnUnPeriodoDeTiempo]    Script Date: 27/6/2020 19:09:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_IngresosDeUnRestauranteEnUnPeriodoDeTiempo] 
@idRestaurante int = 0,
@fechaMin date = '',
@fechaMax date = ''
AS

declare @NumeroEmpleados int

SELECT @NumeroEmpleados = COUNT(DISTINCT idEmpleado)
FROM Ventas
WHERE idRestaurante = @idRestaurante

SELECT
	FORMAT(V.fechaYHoraVenta,'yyyy-MM-dd') as Fechas,
	SUM(PV.cantidadDeUnidadesVendidas * PV.precioUnitarioVenta) as IngresoBruto,
	SUM((PV.cantidadDeUnidadesVendidas * PV.precioUnitarioVenta) - ( precioUnitarioVenta*cantidadDeUnidadesVendidas * (1-descuento)) ) as DineroDejadoDeRecibir,
	SUM(  (PV.cantidadDeUnidadesVendidas * PV.precioUnitarioVenta)   -   ((PV.cantidadDeUnidadesVendidas * PV.precioUnitarioVenta) - ( precioUnitarioVenta*cantidadDeUnidadesVendidas * (1-descuento)) )   ) as IngresoNeto,
	SUM(V.propina) as IngresoPorPropinas,
	SUM(V.propina) / @NumeroEmpleados  as PdPropinaForCadaTrabajador
FROM
	Ventas as V JOIN ProductosVendidos as PV
	ON V.idVenta = PV.idVenta
WHERE
	V.idRestaurante = @idRestaurante
	AND
	(V.fechaYHoraVenta BETWEEN @fechaMin AND @fechaMax)
GROUP BY
	FORMAT(V.fechaYHoraVenta,'yyyy-MM-dd')
GO
/****** Object:  StoredProcedure [dbo].[pa_InsertarNuevoProductoEnUnRestaurante]    Script Date: 27/6/2020 19:09:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_InsertarNuevoProductoEnUnRestaurante]
@Nrestaurante varchar(MAX) = '',
@Nproducto varchar(MAX) = '',
@PrevioVenta money = 0,
@ofertadoDesde date = getDate
AS

declare @idRestaurante int = 0
declare @idProducto int = 0

SELECT @idProducto = idProducto /*si el producto exitse en la DB*/
FROM Productos
WHERE nombreProducto = @Nproducto

SELECT @idRestaurante = idRestaurante /*si el restaurante existe en la DB*/
FROM Restaurantes
WHERE nombreRestaurante = @Nrestaurante

/*SELECT idProducto si el producto ya existe en el restaurante
FROM ProductosDelMenu
WHERE idRestaurante = 1 AND idProducto = 802*/

IF(@idProducto != 0 AND @idRestaurante != 0)
	INSERT INTO ProductosDelMenu (idRestaurante,idProducto,ofertadoDesde,precioVenta) VALUES (@idRestaurante,@idProducto,@ofertadoDesde,@PrevioVenta)
ELSE
	SELECT -1, 'No se encontro el restaurante o el producto'
	RETURN (0)
GO
/****** Object:  StoredProcedure [dbo].[pa_LasVentasRealizadasPor_X_Empleado]    Script Date: 27/6/2020 19:09:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_LasVentasRealizadasPor_X_Empleado]
@idEmpleado int = 0
AS
SELECT
	E.primerNombre+' '+E.segundoNombre as Nombres,
	E.primerApellido+' '+E.segundoApellido as Apellidos,
	E.documentoIdentidad,
	R.nombreRestaurante as Restaurante,
	SUM(precioUnitarioVenta*cantidadDeUnidadesVendidas * (1-descuento)) as Vendio
FROM
	Empleados as E JOIN Ventas as V
	ON E.idEmpleado = V.idEmpleado

	JOIN ProductosVendidos as PV
	ON V.idVenta = PV.idVenta

	JOIN Restaurantes as R
	ON V.idRestaurante = R.idRestaurante
WHERE
	E.idEmpleado = @idEmpleado
GROUP BY
	E.primerNombre+' '+E.segundoNombre,
	E.primerApellido+' '+E.segundoApellido,
	E.documentoIdentidad,
	R.nombreRestaurante
GO
/****** Object:  StoredProcedure [dbo].[pa_ProductosDisponiblesEnElRestaurante_X]    Script Date: 27/6/2020 19:09:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_ProductosDisponiblesEnElRestaurante_X]
@idRestaurante int = 0
AS
SELECT
	P.nombreProducto as Producto,
	CP.nombreCategoria as Categoria,
	P.descripcion,
	P.disponibleDesde,
	P.precioUnitarioSugerido,
	P.calorias
FROM
	Restaurantes as R JOIN ProductosDelMenu as PM
	ON R.idRestaurante = PM.idRestaurante

	JOIN Productos as P
	ON PM.idProducto = P.idProducto

	JOIN CategoriasDeProductos as CP
	ON P.idCategoriaDelProducto = CP.idCategoriaProducto
WHERE
	R.idRestaurante = @idRestaurante AND P.disponible = 1
GO
/****** Object:  StoredProcedure [dbo].[pa_RestaurantesUbicadosEn_X_CiudadMun]    Script Date: 27/6/2020 19:09:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_RestaurantesUbicadosEn_X_CiudadMun]
@idCiudad varchar(MAX) = ''
AS
SELECT DISTINCT 
	R.nombreRestaurante,
	R.direccion,
	D.nombre as Departamento,
	R.fechaInicioActividades,
	COUNT(DISTINCT idEmpleado) as NumeroEmpleados
FROM
	Restaurantes as R JOIN Ventas as V
	ON R.idRestaurante = V.idRestaurante

	JOIN Municipios as M
	ON R.idMunicipio = M.idMunicipio

	JOIN Departamentos as D
	ON M.idDepartamento = D.idDepartamento
WHERE
	M.idMunicipio = @idCiudad
GROUP BY
	R.nombreRestaurante,
	R.direccion,
	D.nombre,
	R.fechaInicioActividades
GO
/****** Object:  StoredProcedure [dbo].[pa_RestaurantesUbicadosEn_X_Departamento]    Script Date: 27/6/2020 19:09:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_RestaurantesUbicadosEn_X_Departamento]
@iddep varchar(MAX) = ''
AS
SELECT DISTINCT 
	R.nombreRestaurante,
	R.direccion,
	M.nombre as CiudadMun,
	R.fechaInicioActividades,
	COUNT(DISTINCT idEmpleado) as NumeroEmpleados
FROM
	Restaurantes as R JOIN Ventas as V
	ON R.idRestaurante = V.idRestaurante

	JOIN Municipios as M
	ON R.idMunicipio = M.idMunicipio

	JOIN Departamentos as D
	ON M.idDepartamento = D.idDepartamento
WHERE
	D.idDepartamento = @iddep
GROUP BY
	R.nombreRestaurante,
	R.direccion,
	M.nombre,
	R.fechaInicioActividades
GO
USE [master]
GO
